.main {
  font-weight: 700;
  text-decoration-line: none;
}

.flex_container {
  display: flex;
  padding: 25px;
  border-bottom: 5px solid var(--header-underline);
}

.flex_child {
  flex: 1;
}

.flex_child:first-child {
  flex: 1;
}


@media only screen and (max-width: 800px) {
  .flex_container {
    flex-direction: column-reverse;
  }
}
