.main {
  font-weight: 700;
  text-decoration-line: none;
  text-align: right;
}

.flex_container {
  display: flex;
  padding: 25px;
  border-bottom: 5px solid var(--header-underline);
  align-items: center;
}

.flex_child {
  flex: 1;
}

.flex_child:first-child {
  flex: 1;
}

.flex_container img {
  max-height: 100px;
  width: auto;
  background: var(--nav-img-bk);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto ;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mobile_avatar {
  display: none;
}

@media only screen and (max-width: 800px) {

  .desktop_avatar {
    display: none;
  }

  .flex_container {
    flex-direction: column-reverse;
  }

  .mobile_avatar {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
}
