.bloglinks_content section {
  width: 100%;
}

.bloglinks_content {
  line-height: 1.75;
  align-self: flex-start;
}

.bloglinks_content div {
  padding: 5px 15px;
}

.bloglinks_content div h3 {
  display: inline-block;
}

.bloglinks_content a {
  text-decoration: none;
}

.bloglinks_content p {
  color: var(--text-color)
}

.post-thumbnail {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-self: center;
}

.post-container {
  display: flex;
  border-bottom: 5px solid var(--header-underline);
}

.post-container-content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .bloglinks_content, .bloglinks_content div{
    width: 100%;
  }
}