.bloglinks_content section {
  width: 100%;
}

.bloglinks_content {
  line-height: 1.75;
  align-self: flex-start;
}

.bloglinks_content div {
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 5px solid var(--header-underline);
}

.bloglinks_content div h3 {
  display: inline-block;
}

.bloglinks_content a {
  text-decoration: none;
}

.bloglinks_content p {
  color: var(--text-color)
}

@media only screen and (max-width: 800px) {
  .bloglinks_content, .bloglinks_content div{
    width: 100%;
  }
}