.bloglinks_content section {
  width: 100%;
}

.bloglinks_content {
  /* border-top: 5px solid; */
  line-height: 1.75;
  align-self: flex-start;
  font-weight: 300;
}

.bloglinks_content div {
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 1px solid #f8dfc8;
}

.bloglinks_content div h3 {
  display: inline-block;
}

.bloglinks_content div:hover h3 {
  background-color: #a1ffb5;
}

.bloglinks_content div:hover a {
  background-color: #a1ffb5;
  outline-width: 0px;
}

.bloglinks_content a {
  text-decoration: none;
}

.bloglinks_content p {
  font-weight: 300;
  color: #34568B
}

@media only screen and (max-width: 800px) {
  .bloglinks_content, .bloglinks_content div{
    width: 100%;
  }
}