---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogLinks from "../../components/home/blogLinks/BlogLinks.astro";
import { getLivePosts } from "../../lib/posts";

const mumblings = await getLivePosts("mumbling");
---

<BaseLayout title="Mumblings">
  <div class="container">
    <BlogLinks posts={mumblings} hasLimit={false} title="Mumblings" sectionId="mumblings" />
  </div>
</BaseLayout>
