---
import styles from "./Content.module.css";
---

<section class={styles["intro-content"]}>
  <p class={styles.lede}>
    Senior Software Engineer with 8+ years experience in creating
    distributed SaaS solutions.
  </p>

  <p class={styles.cta}>
    More <a href="/about">about me</a>, the
    <a href="/projects">things I&apos;m building</a>, longer
    <a href="/blog">writing</a> and shorter
    <a href="/mumblings">mumblings</a>, or grab my
    <a target="_blank" rel="noopener" href="/assets/resume/Matt-Bidewell-Resume.pdf">resume</a>.
  </p>
</section>
