.main {
  font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: bolder;
  color: #34568b;
}

.flex_container {
  display: flex
}

.flex_child {
  flex: 1;
}

.flex_child:first-child {
  flex: 1;
}