
.content {
  margin: 50px 0;
  line-height: 1.75;
  align-self: flex-start;
  font-weight: 300;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 75%;
    margin: 25px,
  }
}

@media only screen and (max-width: 800px) {
  .content {
    width: 90%;
    margin: 10px,
  }
}