.nav ul {
  display: flex;
  width: 13.5rem;
  list-style: none;
  flex-direction: column;
  font-family: Merriweather,Georgia,serif;
}

.nav li {
  flex: 1;
}

.nav img {
  max-height: 150px;
  width: auto;
  background: var(--nav-img-bk);
  border-radius: 100px;
  border: 1px solid var(--nav-img-border);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .nav ul {
    width: 10rem;
    padding-left:0;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
  }

  .nav img {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }

  .nav {
    display: inherit;
  }

  .nav h1 {
    padding: 0;
  }
}