.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.table tr {
  padding-right:15px;
  border-bottom: 1px solid var(--border);
}

.table ul {
  list-style: none;
}

.container {
  display: flex;
}

.item {
  flex-grow: 1;
}