.nav ul {
  display: flex;
  width: 12.5rem;
  list-style: none;
}

.nav li {
  flex: 1;
}

 .nav img {
  max-height: 150px;
  min-height: min-content;
  width: auto;
  background: #ffefe0;
  border-radius: 100px;
  border: 1px solid #ffdcbc;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (max-width: 800px) {
  .nav ul {
    width: 12.5rem;
    padding-left:0;
    align-items: center;
  }

  .nav img {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }

  .nav {
    display: inherit;
  }
}