.nav ul {
  display: flex;
  width: 12.5rem;
  list-style: none;
}

.nav li {
  flex: 1;
}

@media only screen and (max-width: 800px) {
  .nav ul {
    /* padding-left: 10rem; */
    width: 12.5rem;
    margin-left: auto;
  }
}